@*declarare model curent al pag si il transmitem din controler*@

@model  WebApplicationApp17._01.Models.User



<h2>ById</h2>

<div>
    <h1>User @Model.Name</h1>
</div>

<div>
    @Model.Email
</div>